body {
    background-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

.hometitle {
    text-align: center;
    display: inline-block;
    position: absolute;
    top:15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hometitle span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
@keyframes flip {
0%,80% {
    transform: rotateY(360deg) 
    }
}

footer {
    width: 100%;
    text-align: center;
    position:fixed;
    bottom:0;
}

.navclick {
    text-align: center;
    display: inline-block;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navclick table{
    color: white;
}

.navclick td{
    padding-right: 20px;
    padding-left: 20px;
    
}

.navclick i {
    font-size: 50px;
    display: block;
    color: white;
}

.navclick i:hover {
    color: rgb(0, 64, 255);
}

.himages {
    text-align: center;
}

.himages {
    display: inline-block;
    position: absolute;
    top:70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.himagestext {
    display: inline-block;
    position: absolute;
    top:64%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutinfo {
    text-align: center;
    margin: 0;
    padding: 0;
    padding: 175px;
}